.categoryList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 20px;
}

.categoryList__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 1120px;
}

.categoryList__items {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.categoryList__category {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.categoryList__category > img {
  width: 90%;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 3px 3px 10px rgba(232, 232, 232, 0.5);
}

.categoryList__category > img:hover {
  opacity: 0.9;
}

.categoryList__link {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  background: rgb(123, 122, 122);
  padding: 0.3rem;
  border-radius: 10px;
  color: #222;
  text-decoration: none;
  background: #af9a7d;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 600px) {
  .categoryList__items {
    grid-template-columns: repeat(1, auto);

    place-items: center;
  }
  .categoryList__category {
    width: 95vw;
    margin-bottom: 20px;
  }

  .categoryList__category > img {
    width: 50%;
  }
}
